/*
Template:       dlist
Theme Name:     dList Child
Theme URI:      https://directorist.com/product/dlist/
Author:         wpWax
Author URI:     https://wpwax.com
Version:        2.0
Text Domain:    dlist
Tags:           food-and-drink, blog, e-commerce, grid-layout, one-column, left-sidebar, right-sidebar, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, threaded-comments, theme-options, block-styles
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
*/

/* You can add custom css after this line */


.single-at_biz_dir .single-custom-price{
    display: flex
}

.single-at_biz_dir .single-custom-price .single-price-unit{
    margin-right: 0;
    margin-left: 10px;
    line-height: 16px;
    font-size: 14px;
}

.single-at_biz_dir .single-custom-price .single-price-unit strong{
    display: block
}

.directorist-custom-field-checkbox.hide_contact_information .directorist-form-label{
    display: none
}

.directorist-custom-field-checkbox.hide_contact_information .directorist-checkbox{
    flex: 0 0 100% !important
}

.directorist-listing-single .directorist-listing-single__info .directorist-listing-single__info--list ul li div{
    align-items: center !important;
}

.directorist-listing-single__content .light-text{
    color: #9fa0c5 !important;
    margin-left: 5px;
    font-size: 12px 
}

.ezmu-icon-avater{
    background-image: url("./assets/img/logo.svg") !important;
}

.directorist-tab__nav__wrapper #my_wallet_tab {
    display: none;
}